<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="LaboratorioEntities" connectionString="metadata=res://*/ModelLaboratorio.csdl|res://*/ModelLaboratorio.ssdl|res://*/ModelLaboratorio.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=OCTIPAGREDA\SQLEXPRESS;initial catalog=Laboratorio;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>